#define UNICODE
#include <windows.h>
#include <winver.h>

IDI_MAINICON ICON "rdr.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,4,0,0
PRODUCTVERSION 1,4,0,0
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004B0"
        {
            VALUE "CompanyName",      ""
            VALUE "LegalCopyright",   "Public domain."
            VALUE "FileDescription",  "Thumbnail merger for DH drawings"
            VALUE "FileVersion",      "1.4"
            VALUE "InternalName",     "rdr"
            VALUE "OriginalFilename", "rdr.exe"
            VALUE "ProductName",      "dh-thumb"
            VALUE "ProductVersion",   "1.4"
            VALUE "Comments",         "dh-thumb:\r\n"
                                      "https://github.com/VaKonS/dh-thumb\r\n"
                                      "\r\n"
                                      "Drawing Hand Screen Saver:\r\n"
                                      "http://www.drawinghand.com\r\n"
                                      "\r\n"
                                      "dh-thumb is not affiliated with Jeff Newman or drawinghand.com"
        }
    }
    BLOCK "VarFileInfo" { VALUE "Translation", 0x0000, 1200 }
}
